<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="cluedin" value="https://pkgs.dev.azure.com/CluedIn-io/Public/_packaging/Public/nuget/v3/index.json" />
    <add key="develop" value="https://pkgs.dev.azure.com/CluedIn-io/_packaging/develop/nuget/v3/index.json" />
    <add key="release" value="https://pkgs.dev.azure.com/CluedIn-io/_packaging/release/nuget/v3/index.json" />
    <add key="AzurePipelines" value="https://pkgs.dev.azure.com/CluedIn-io/_packaging/CluedIn/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <develop>
      <add key="Username" value="VSTS" />
      <add key="ClearTextPassword" value="43zxnhwtfxosg6iseri3fmlzdbnmghrpl3x74jdwwe7lncs4r4va" />
    </develop>
    <release>
      <add key="Username" value="VSTS" />
      <add key="ClearTextPassword" value="43zxnhwtfxosg6iseri3fmlzdbnmghrpl3x74jdwwe7lncs4r4va" />
    </release>
    <AzurePipelines>
      <add key="Username" value="VSTS" />
      <add key="ClearTextPassword" value="43zxnhwtfxosg6iseri3fmlzdbnmghrpl3x74jdwwe7lncs4r4va" />
    </AzurePipelines>
  </packageSourceCredentials>
</configuration>